<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="board.A03_Dao">
	<select id="boardList" resultType="board"
		parameterType="boardsch">
		select *
		from board
		where 1=1
		and subject like '%'||#{subject}||'%'
		and writer like '%'||#{writer}||'%'	
	</select>
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board values(board_seq.nextval,
			#{refno}, #{subject},#{content},#{writer},
			0, sysdate, sysdate)			
	</insert>	
	<select id="getBoard" resultType="board" parameterType="int">
		SELECT * FROM board
		WHERE NO = #{no}			
	</select>
	<update id="uptReadCnt" parameterType="int">
		UPDATE BOARD 
			SET READCNT = readcnt+1
	  	WHERE NO = #{no}				
	</update>	
</mapper>		
		